*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

:root{
    --p1: rgb(255, 255, 255);
    --p2: rgb(255, 165, 0);
    --p3: rgb(255, 215, 0);
    --p4: rgb(255, 69, 0);
    --p5: rgb(255, 0, 0);
    --t1: rgba(255, 99, 71, 0.8);
    --t2: rgba(255, 165, 0, 0.8);
}

body{
    background-color: var(--t1);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header, footer{
    background-color: var(--p1);
    width: 100%;
    height: 10vh;
    padding: 20px;
    text-align: center;
    color: white;
}