/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #f4f4f4;
}
/* Cabeçalho */
header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}
header h1 {
    margin-bottom: 0.5rem;
}
nav ul {
    list-style: none;
    padding:0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color:#fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color:crimson;
    cursor: pointer;
}

/*Seções*/
section {
    padding: 2rem;
    margin: 1rem;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,1);
}





